// Layout width
$mobile: 375px;
$Desktop: 1440px;

// Colors
$Primary-orange: hsl(35, 77%, 62%);
$Primary-red: hsl(5, 85%, 63%);

$neural-off-white: hsl(36, 100%, 99%);
$neural-grayish: hsl(233, 8%, 79%);
$neural-dark-grayish: hsl(236, 13%, 42%);
$neural-very-dark: hsl(240, 100%, 5%);


// Typography
$font-size: 15px;

// Font-family
$font-family: 'Inter', sans-serif;